.news-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr) );
    padding: 0.5rem;
    grid-gap: 0.5rem;
}
.news-title{
    height: 4rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.news-self{
    overflow: hidden;
}

.news-image{
    width: 100%;
    height: 25rem;
    margin-bottom: 0.5rem;
}

.news-author{
    text-align: center;
}

.news-content{
    font-size: 0.8rem;
    line-height: 1.2rem;
}
