@mixin active{
  background: #000;
    opacity: 1;
}

@mixin btn{
  width: 6rem;
  border: 1px solid #fff;
  background: rgba(173, 165, 165, 0.404);
  color: #fff;
  border-radius: 1rem;
  &:hover{
    @include active();
  }
}


.nav-list{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 20vh;
  background-color: rgba(173, 165, 165, 0.404);
  color: #fff;

  .nav-hamburger{
    display: none;
    @media screen and (max-width:650px) {
       width: 3rem;
      height: 3rem;
      border: 4px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 0.2rem;
      .bar{
        display: block;
        height: 0.3rem;
        width: 2rem;
        background: #fff;
      }
    }
  }

  .nav-items{
    @media screen and (max-width:650px) {
      display: none;
    }
  }
 
  .nav-title{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center; border: 4px solid #fff;
    border-radius: 2rem;
  }
  .nav-items{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen  and (max-width: 1000px) {
      width: 50%;
    }
  }
  .nav-item-county
  ,.nav-item-category{
    .nav-item-title{
      padding: 0 0.2rem;
      border: 2px solid #fff;
      border-radius: 2rem;
    }
  }

  .county-list{
    display: none;
    input{
      @include btn();
    }
    .active{
      @include active();
    }
  }
  .category-list{
    display: none;
    button{
      @include btn();
    };
    .active{
      @include active();
    }
  }
  .nav-item-county  {
    position: relative;
    &:hover .county-list{
      position: absolute;
      display: block;
    }
  }
  .nav-item-category{
    position: relative;
    &:hover  .category-list{
      position: absolute;
      display: block;
    }
  }
}
