@mixin active{
  background: #000;
    opacity: 1;
}

@mixin btn{
  width: 6rem;
  border: 1px solid #fff;
  background: rgb(173, 165, 165);
  color: #fff;
  border-radius: 1rem;
  &:hover{
    @include active();
  }
}


.nav-list{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 10vh;
  background-color: rgb(173, 165, 165);
  color: #fff;
  box-shadow: 0 0 4px  #000;
  @media screen and (max-width:650px) {
    justify-content: space-around;
  }
  .nav-title{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    border: 4px solid #fff;
    border-radius: 2rem;
    @media screen and (max-width:650px) {
    
  }
}
  .nav-items{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen  and (max-width: 1000px) {
      width: 50%;
    }
  }
  .nav-item-county
  ,.nav-item-category{
    .nav-item-title{
      padding: 0 0.2rem;
      border: 2px solid #fff;
      border-radius: 2rem;
    }
  }

  .county-list{
    display: none;;
    input{
      @include btn();
    }
    .active{
      @include active();
    }
  }
  .category-list{
    display: none;
    button{
      @include btn();
    };
    .active{
      @include active();
    }
  }
  .nav-item-county  {
    position: relative;
    &:hover .county-list{
      position: absolute;
      display: block;
    }
  }
  .nav-item-category{
    position: relative;
    &:hover  .category-list{
      position: absolute;
      display: block;
    }
  }
}
