* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  height: 20vh;
  background-color: rgba(173, 165, 165, 0.404);
  color: #fff;
}

.nav-list .nav-hamburger {
  display: none;
}

@media screen and (max-width: 650px) {
  .nav-list .nav-hamburger {
    width: 3rem;
    height: 3rem;
    border: 4px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.2rem;
  }
  .nav-list .nav-hamburger .bar {
    display: block;
    height: 0.3rem;
    width: 2rem;
    background: #fff;
  }
}

@media screen and (max-width: 650px) {
  .nav-list .nav-items {
    display: none;
  }
}

.nav-list .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #fff;
  border-radius: 2rem;
}

.nav-list .nav-items {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .nav-list .nav-items {
    width: 50%;
  }
}

.nav-list .nav-item-county
.nav-item-title, .nav-list .nav-item-category .nav-item-title {
  padding: 0 0.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
}

.nav-list .county-list {
  display: none;
}

.nav-list .county-list input {
  width: 6rem;
  border: 1px solid #fff;
  background: rgba(173, 165, 165, 0.404);
  color: #fff;
  border-radius: 1rem;
}

.nav-list .county-list input:hover {
  background: #000;
  opacity: 1;
}

.nav-list .county-list .active {
  background: #000;
  opacity: 1;
}

.nav-list .category-list {
  display: none;
}

.nav-list .category-list button {
  width: 6rem;
  border: 1px solid #fff;
  background: rgba(173, 165, 165, 0.404);
  color: #fff;
  border-radius: 1rem;
}

.nav-list .category-list button:hover {
  background: #000;
  opacity: 1;
}

.nav-list .category-list .active {
  background: #000;
  opacity: 1;
}

.nav-list .nav-item-county {
  position: relative;
}

.nav-list .nav-item-county:hover .county-list {
  position: absolute;
  display: block;
}

.nav-list .nav-item-category {
  position: relative;
}

.nav-list .nav-item-category:hover .category-list {
  position: absolute;
  display: block;
}

.searchbox {
  padding: 1rem;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbox .searchbox-search {
  width: 40vw;
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
}

.searchbox .searchbox-search .searchbox-input-label {
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.searchbox .searchbox-search .searchbox-input-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.searchbox .searchbox-search .searchbox-input-label-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbox .searchbox-search input:focus + .searchbox-input-label .searchbox-input-label-name,
.searchbox .searchbox-search input:valid + .searchbox-input-label .searchbox-input-label-name {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  font-size: 0.8rem;
  color: #5fa8d3;
}

.searchbox .searchbox-search input:focus + .searchbox-input-label::after,
.searchbox .searchbox-search input:valid + .searchbox-input-label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.searchbox .searchbox-input {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  border: none;
}

.searchbox .searchbox-btn {
  padding: 0.2rem;
  width: 5vw;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background: #58e091;
  color: #2760e6;
}

.searchbox .searchbox-btn:hover {
  color: #58e091;
  background: #2760e6;
}

.news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(480px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  padding: 1rem;
  grid-gap: 1rem;
}

.news-title {
  height: 10vh;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.news-image {
  width: 100%;
  height: 25rem;
}

.news-author {
  text-align: center;
}

.news-content {
  font-size: 0.8rem;
}

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to bottom, #cfd9df 0%, #e2ebf0 100%);
}

.App {
  max-width: 1480px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */